name: "CI"

on:
  push:
    branches:
      - "main"
  pull_request:
    branches:
      - "main"

jobs:
  ci:
    name: "Ruff and Pytest QA"
    runs-on: "ubuntu-latest"
    permissions:
      id-token: write
    strategy:
      matrix:
        python-version: ["3.10", "3.11", "3.12", "3.13", "3.14"]
    steps:
      - name: "Checkout the repository"
        uses: "actions/checkout@v5.0.0"

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v6.0.0
        with:
          python-version: ${{ matrix.python-version }}
          cache: "pip"

      - name: "Install requirements"
        run: python3 -m pip install -r requirements.txt

      - name: "Lint with Ruff"
        run: python3 -m ruff check .

      - name: "Check format with Ruff"
        run: python3 -m ruff format . --check

      - name: "Install package"
        run: |
          python -m pip install -e .

      - name: "Test package"
        run: |
          python -m pytest --cov=src/py_netgear_plus tests
